#single{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    position: absolute;
    top: 23%;
    left: 18%;
    background-color: beige;
    border-radius: 30px;
}
aside{
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}
#para{
    line-height: 230%;
    width: 90%;
    margin: auto;

}
header{
    position: absolute;
    top: 20%;
    left: 8%;
}
button{
    background-color: blue;
    color: aliceblue;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}
